<!DOCTYPE html>
<html>

<head>
    <title>welcome Test IOF</title>
    <% include ../partials/stylesheet.ejs %>
        <% include ../partials/header_javascript.ejs %>

</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>I</b>OF</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>C &amp; H </b>IOF</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <!-- Notifications: style can be found in dropdown.less -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="/static/images/logo_iot.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p></p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <% include ../partials/nav_item %>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Show <small>Channel</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><i class="ffa fa-dshboard"></i>Channel</li>
                    <li class="active"><a href="/">show</a></li>
                </ol>
            </section>
            <div class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- Line chart -->
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <i class="fa fa-bar-chart-o"></i>
                                <h3 class="box-title">Senser Value</h3>
                                <button class="pull-right" id="value_download" name="value_download"><i class="fa fa-fw fa-download"></i>download</button>
                            </div>
                            <div class="box-body">
                                <div id="sensor-chart" style="height: 300px;"></div>
                            </div>
                            <!-- /.box-body-->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- chart end -->
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">최근 촬영 사진</h3>
                                <button class="pull-right"><i class="fa fa-fw fa-download" id="image_download" name="image_download"></i>download</button>
                                <div class="box-tools pull-right" id="camera-date">
                                    <%
										var d = new Date(createdAt); 
										var str = "";
										if(createdAt){
											str = d.getFullYear() + "-" + (d.getMonth() + 1 ) + "-" + d.getDate() + "-" + d.getHours() + "-" + d.getMinutes();
										}
                                    %>
                                        <%= str %>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div id="camera-info">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="reservation">

                                </div>
                                <button class="pull-right"><i class="fa fa-fw fa-download" id="image_download" name="image_download"></i>download</button>
                                <!-- /.input group -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">

                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                    </ol>
                                    <div class="carousel-inner">
                                    </div>
                                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="fa fa-angle-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="fa fa-angle-right"></span>
                                    </a>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                    <!-- end 캘린더 -->
                </div>
                <!-- / camera infomation -->

            </div>
        </div>
    <% include ../partials/footer.ejs %>
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- /.content-wrapper -->
        </div>
        <% include ../partials/footer_graph_javascript.ejs %>
            <!--<script src="/socket.io/socket.io.js"></script>
	<script src="/test/socket.io/socket.io.js/"></script>-->
            <script>
                //var socket = io("http://http://192.168.0.34:5001/");
                /*
                 * Custom Label formatter
                 * ----------------------
                 */
                function labelFormatter(label, series) {
                    return '<div style="font-size:13px; text-align:center; padding:2px; color: #fff; font-weight: 600;">' +
                        label +
                        "<br>" +
                        Math.round(series.percent) +
                        "%</div>";
                }

                //날짜에서 시간과분만 추출
                function getDateFromJSON(str) {
                    var date = new Date(str);
                    return (date.getHours() + 9) + ':' + date.getMinutes();
                }

                //날짜에서 하루 빼기
                function getMinusOneDate(str) {
                    var date = new Date(str);
                    return date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + (date.getDate() - 1);
                }

                //날짜 형식 변경
                function getFormatDate(date) {
                    var year = date.getFullYear(); //yyyy
                    var month = (1 + date.getMonth()); //M
                    var day = date.getDate(); //d

                    month = month >= 10 ? month : '0' + month; // month 두자리로 저장
                    day = day >= 10 ? day : '0' + day; //day 두자리로 저장
                    return year + '' + month + '' + day;
                }

                //시간말 추출
                function getFormatDateHour(date) {
                    var hour = date.getHours(); //d
                    hour = hour >= 10 ? hour : '0' + hour; //day 두자리로 저장

                    return hour;
                }

                var get_Data = function() {

                    $.ajax({

                        type: "GET",
                        url: "/ajax?serial_Num=<%= serial %>",
                        dataType: "json",
                        error: function() {
                            var ajax_data;
                            ajax_data = null;
                        },
                        success: function(data) {

                            var chart_data;
                            

                            var get_data = data;

                            var show_data = [];

                            for (var i = 0, max_data = get_data.length; i < max_data; i++) {
                                show_data.push([getDateFromJSON(get_data[i].createdAt), get_data[i].value]);
                            }

                            var line_data1 = {
                                data: show_data.reverse(),
                                color: "#3c8dbc",
                            };

                            //flot.html 에서 가져옴
                            $.plot("#sensor-chart", [line_data1], {
                                grid: {
                                    hoverable: true,
                                    borderColor: "#f3f3f3",
                                    borderWidth: 1,
                                    tickColor: "#f3f3f3"
                                },
                                series: {
                                    shadowSize: 0,
                                    lines: {
                                        show: true
                                    },
                                    points: {
                                        show: true
                                    }
                                },
                                lines: {
                                    fill: false,
                                    
                                },
                                yaxis: {
                                    min: 0,
                                    max: 1200,
                                    show: true,
                                },
                                xaxis: {
                                    
                                    mode: "categories",
                                    show: true,
                                }
                            });
                            //Initialize tooltip on hover
                            $('<div class="tooltip-inner" id="sensor-chart-tooltip"></div>').css({
                                position: "absolute",
                                display: "none",
                                opacity: 0.8
                            }).appendTo("body");

                            $("#sensor-chart").bind("plothover", function(event, pos, item) {

                                if (item) {
                                    var x = item.datapoint[0].toFixed(2),
                                        y = item.datapoint[1].toFixed(2);

                                    
                                    $("#sensor-chart-tooltip").html(y).css({
                                        top: item.pageY + 5,
                                        left: item.pageX + 5
                                    }).fadeIn(200);
                                } else {
                                    $("#sensor-chart-tooltip").hide();
                                }
                            });
                        }
                    });
                }

                var get_image = function() {

                    $.ajax({

                        type: "GET",
                        url: "/ajaxpath?serial_Num=<%= serial %>",
                        dataType: "json",
                        error: function() {
                            var ajax_path;
                            ajax_path = '/images/failed/failed/failed.jpg';
                            
                            $("#camera-info").find("img").attr("src", ajax_path);

                        },
                        success: function(data) {

                            var ajax_data = data;
                            var img_path;
                            var d = new Date(ajax_data.createdAt);
                            var dateStr = d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + d.getDate() + " " + d.getHours() + ":" + d.getMinutes();

                            if (ajax_data.createdAt == "") dateStr = "";

                            img_path = '/images/' + ajax_data.field_id + '/' + ajax_data.folder_name + '/' + ajax_data.img_name;

                            $("#camera-info").find("img").attr("src", img_path);
                            $("#camera-date").text(dateStr);

                        }
                    });
                }



                // get slide image
                function slide_getImage(startDate, endDate) {
                    $.ajax({
                        type: "GET",
                        url: "/ajaxGetImage",
                        data: {
                            serial: "<%= serial %>",
                            startDate: startDate,
                            endDate: endDate
                        },
                        dataType: "json",
                        error: function() {
                            var ajax_path;
                            ajax_path = '/images/failed/failed/failed.jpg';
                            $("#camera-info").find("img").attr("src", ajax_path);

                        },
                        success: function(data) {
                            /**/

                            $("#carousel-example-generic").carousel("pause").removeData();
                            var content_indi = "";
                            var content_inner = "";

                            $.each(data, function(i, obj) {
                                if (obj.isImg) {
                                    content_indi += '<li data-target="#carousel-example-generic" data-slide-to="' + i + '"></li>';
                                    if (obj.field_id == 2) {
                                        content_inner += '<div class="item"><img src="/images/' + obj.field_id + '/' + obj.folder_name + '/' + obj.img_name + '" style="filter: flipv(); transform: rotate(180deg);" /></div>';
                                    } else {
                                        content_inner += '<div class="item"><img src="/images/' + obj.field_id + '/' + obj.folder_name + '/' + obj.img_name + '" /></div>';
                                    }


                                }
                            });

                            $('.carousel-indicators').html(content_indi);
                            $('.carousel-inner').html(content_inner);
                            if ($('.carousel-indicators > li').size() == 0) {
                                $('.carousel-indicators').html('<li data-target="#carousel-example-generic" data-slide-to="0"></li>');
                                $('.carousel-inner').html('<div class="item"><img src="/images/failed/failed/failed.jpg" /></div>');
                            }
                            $('.carousel-inner .item').first().addClass('active');
                            $('.carousel-indicators > li').first().addClass('active');
                            $('.carousel-indicators').hide();
                            $('#carousel-example-generic').carousel();

                        }
                    });
                }
                //Date range picker
                $('#reservation').daterangepicker();
                $('#reservation').on('apply.daterangepicker', function(ev, picker) {

                    slide_getImage(getMinusOneDate(picker.startDate.format('YYYY-MM-DD')) + " 22:00:00", picker.endDate.format('YYYY-MM-DD') + " 09:00:00");

                  
                });

                
                slide_getImage(getMinusOneDate($('#reservation').data("daterangepicker").startDate.format('YYYY-MM-DD')) + " 22:00:00", $('#reservation').data("daterangepicker").endDate.format('YYYY-MM-DD') + " 09:00:00");


                get_Data();
                setInterval("get_Data()", 1000 * 30);
                setInterval("get_image()", 1000 * 30);
            </script>
            <script>
                $(document).ready(function() {
                    $('#value_download').click(function() {
                        $.post('/process/download_csv?serial_Num=<%= serial %>', function() {

                        });
                    });
                    $('#image_download').click(function() {
                        $.post('/process/download_zip', function() {

                        });
                    });
                });
            </script>
</body>

</html>